<!doctype html>
<html>
	<head>
		<title>Filter</title>	
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script type="text/javascript" src="node_modules/bootstrap-material-design/scripts/material.js"></script>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css">
  		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap-material-design/dist/css/ripples.min.css">
	</head>
	<body>
		<div style='margin:0 auto; max-width: 600px;'>
			<div style='text-align:center'>
				<h1>Filter</h1>
			</div>
			<div id='box' >
			</div>
			<footer style='text-align:center'>John Au-Yeung</footer>
		</div>		
		<script type='text/babel' >
			$.material.init();
			
			var Filter = React.createClass({
				getInitialState: function(){
					return { list: [], filteredlist:[]};
				},
				componentDidMount: function(){
					this.setState({
						list: [
							'Never Let Me Go – Kazuo Ishiguro',
							'Saturday – Ian McEwan',
							'On Beauty – Zadie Smith',
							'Slow Man – J.M. Coetzee',
							'Adjunct: An Undigest – Peter Manson',
							'The Sea – John Banville',
							'The Red Queen – Margaret Drabble',
							'The Plot Against America – Philip Roth',
							'The Master – Colm Tóibín',
							'Vanishing Point – David Markson',
							'The Lambs of London – Peter Ackroyd',
							'Dining on Stones – Iain Sinclair',
							'Cloud Atlas – David Mitchell',
							'Drop City – T. Coraghessan Boyle',
							'The Colour – Rose Tremain',
							'Thursbitch – Alan Garner',
							'The Light of Day – Graham Swift',
							'What I Loved – Siri Hustvedt',
							'The Curious Incident of the Dog in the Night-Time – Mark Haddon',
							'Islands – Dan Sleigh',
							'Elizabeth Costello – J.M. Coetzee',
							'London Orbital – Iain Sinclair',
							'Family Matters – Rohinton Mistry',
						],
						
						filteredlist: [
							'Never Let Me Go – Kazuo Ishiguro',
							'Saturday – Ian McEwan',
							'On Beauty – Zadie Smith',
							'Slow Man – J.M. Coetzee',
							'Adjunct: An Undigest – Peter Manson',
							'The Sea – John Banville',
							'The Red Queen – Margaret Drabble',
							'The Plot Against America – Philip Roth',
							'The Master – Colm Tóibín',
							'Vanishing Point – David Markson',
							'The Lambs of London – Peter Ackroyd',
							'Dining on Stones – Iain Sinclair',
							'Cloud Atlas – David Mitchell',
							'Drop City – T. Coraghessan Boyle',
							'The Colour – Rose Tremain',
							'Thursbitch – Alan Garner',
							'The Light of Day – Graham Swift',
							'What I Loved – Siri Hustvedt',
							'The Curious Incident of the Dog in the Night-Time – Mark Haddon',
							'Islands – Dan Sleigh',
							'Elizabeth Costello – J.M. Coetzee',
							'London Orbital – Iain Sinclair',
							'Family Matters – Rohinton Mistry',
						]
					});
				},
				
				filter: function(e){
					var that = this;
					var filteredlist = [];
					this.state.list.map(function(l,i){
						if (l.toLowerCase().indexOf(that.refs.term.value.toLowerCase()) > -1){
							filteredlist.push(l);
						}
					});
					that.setState({filteredlist: filteredlist});
					
					if (e.keyCode == 27){
						that.setState({filteredlist: that.state.list});
					}
				},
				
				render: function(){
					var rows = []
					this.state.filteredlist.map(function(l,i){
						rows.push(<li>{l}</li>);
					});
					return (<div>
						<input 
							type='text' 
							onKeyUp={this.filter} 
							ref='term' style={{'width':'100%'}} 
							className='form-control' 
							placeholder='Search'
						/>						
						<ul>
							{rows}
						</ul>
					</div>);
				}

			});

			React.render(<Filter />, document.getElementById('box'));
		</script>
	</body>
</html>